.common-title {
  font-size: 30px;
  color: #f4bd87;
}
.color-white {
  color: white !important;
}
.main-color {
  color: #f4b979;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.mr-50 {
  margin-right: 50px;
}
.mr-15 {
  margin-right: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.ml-30 {
  margin-left: 30px;
}
.mr-30 {
  margin-right: 30px;
}
.w-100 {
  width: 100%;
}
.d-block {
  display: block;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.f-left {
  float: left;
}
