.bold {
  font-weight: 500;
}
.common-title {
  font-size: 30px;
  color: #f4bd87;
}
.color-white {
  color: white !important;
}
.color-gray {
  color: #dadada !important;
}
.main-color {
  color: #f4b979;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.w-100 {
  width: 100%;
}
.d-block {
  display: block;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.f-left {
  float: left;
}
