.bill-pay{
    width: 500px;
    margin:0 auto;
    margin-top:50px;
    &__title{
        
    }
    .login-legend{
        margin: 20px;
        width: 137px;
    }
    
    .my-fieldset{
        border: 2px solid;
        padding :0 15px;
        margin-bottom: 30px;
    }
}