footer{
    background:#eee;
     padding-top:60px;
     padding-bottom:30px;
     .text{
         padding-right:30px;
     }
     .btn-footer{
     
        background-color: #ff920a !important;
     }
     .footer{
     
         &-link{
            img{
                 max-width: 128px!important;
                }
             ul{
                 margin: 0;
                 padding:0;
                 li{
                     list-style: none;
                    
                 }
             }
         }
     }
}