footer {
  background: #eee;
  padding-top: 60px;
  padding-bottom: 30px;
}
footer .text {
  padding-left: 50px;
}
footer .btn-footer {
  background-color: #ff920a !important;
}
footer .footer-link img {
  max-width: 128px!important;
}
footer .footer-link ul {
  margin: 0;
  padding: 0;
}
footer .footer-link ul li {
  list-style: none;
}
