footer{
     margin-top:100px;
     .footer{
     
         &-link{
            img{
                 max-width: 128px!important;
                }
             ul{
                 margin: 0;
                 padding:0;
                 li{
                     list-style: none;
                    
                 }
             }
         }
     }
}