.get-start__wrapper{
    background: linear-gradient(90deg, rgba(6,190,182,1) 0%, rgba(16,191,112,0.8886905103838411) 70%);

    padding:80px;
    .carousel-indicators li {
        width: 10px;
        height: 10px;
        border-radius: 100%;
      }
    .get-start{
        &__content{
            p {
                margin-bottom: 0;
            }
        }
        &__btn{
            border-radius: 20px;
            padding: 5px 35px !important;
            background-color: rgba(255,146,10,1)!important;
        }
    }
}
@media( max-width : 768px){
    .get-start__slide{
        order:1
    }
    .get-start__text{
        order:2
    }
  }