// .menu-bar{
//     padding: 0 20px;
//     border-bottom: solid 1px #e8e8e8;
//     overflow: auto;
//     box-shadow: 0 0 30px #f3f1f1;
//     .menu-right {
//         float: right;
//     }
//     &__logo{
//         width: 150px;
//         float: left;
//         a {
//             display: inline-block;
//             font-size: 20px;
//             padding: 19px 20px;
//           }
//     }
  
//     .ant-menu-horizontal {
//         border-bottom: none;
//       }
//     .bars-btn img{
//       display: none;
//       width: 30px;
//       position: absolute;
//       right: 15px;
//       top: 13px;
//     }
// }
// @media (max-width: 991px) {
//     .bars-btn img {
//       display: inline-block !important;
//     }

//     .menu-right {
//       display: none;
//     }
  
//     .menu-bar__logo a {
//       margin-left: -20px;
//       padding: 10px 20px;
//     }
  
//   }
.header-nav{

  background: rgb(6,190,182);
  background: linear-gradient(90deg, rgba(6,190,182,1) 0%, rgba(16,191,112,0.8886905103838411) 70%);
  .navbar-nav{
    .border-item{
      border:1px solid #fff;
      border-radius:20px;
    }
    .nav-item{
      padding-left:20px;
      .nav-link{
        padding: 1px 8px;
        color:#fff;
        &:hover{
          background:white;
          color: rgba(16,191,112,0.8886905103838411);
          border-radius:20px;
        }
        &:visited{
        
        }
        
      }
  
    }
  }
}