
.header-nav{
  .navbar-light .navbar-toggler-icon {
     background-image: none;
  }
  .navbar-light .navbar-toggler {
 
    border-color: #fff;
}
  // background: 
  // background: 
  .navbar-nav{
    .border-item{
      border:1px solid #fff;
      border-radius:20px;
    }
    // .dropdown-menu{
    //   background:#b2b2b2!important
    // }
    .dropdown-item, .dropdown-item {
      color: #665b5b;
    }
    // .dropdown-item.active, .dropdown-item:active {
    // color: #665b5b;
    // }
    .dropdown-item:hover, .dropdown-item:focus {
      color: #16181b;
      text-decoration: none;
      background: none;
     
  }
    .nav-item{
      padding-left:3px;
      .nav-link{
        font-size: 15px;
        padding: 0px 10px;
        color:#fff;
        &:hover{
          background:white;
          color: rgba(16,191,112,0.8886905103838411);
          border-radius:20px;
        }
        // &:visited{
        // color:yellow
        // }
        
      }
  
    }
  }
}
@media( max-width : 1200px){
  .border-item{
    border:none!important;
  }
  // .nav-item.dropdown{
  //   position: relative;
  // }
  // .dropdown-menu{
  //   position: absolute!important;
  //   left:10px;
  // }
}
