.header-nav {
  background: #06beb6;
  background: linear-gradient(90deg, #06beb6 0%, rgba(16, 191, 112, 0.88869051) 70%);
}
.header-nav .navbar-nav .border-item {
  border: 1px solid #fff;
  border-radius: 20px;
}
.header-nav .navbar-nav .nav-item {
  padding-left: 20px;
}
.header-nav .navbar-nav .nav-item .nav-link {
  padding: 1px 8px;
  color: #fff;
}
.header-nav .navbar-nav .nav-item .nav-link:hover {
  background: white;
  color: rgba(16, 191, 112, 0.88869051);
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .border-item {
    border: none!important;
  }
}
