.header-nav .navbar-light .navbar-toggler-icon {
  background-image: none;
}
.header-nav .navbar-light .navbar-toggler {
  border-color: #fff;
}
.header-nav .navbar-nav .border-item {
  border: 1px solid #fff;
  border-radius: 20px;
}
.header-nav .navbar-nav .dropdown-menu {
  background: #b2b2b2 !important;
}
.header-nav .navbar-nav .dropdown-item,
.header-nav .navbar-nav .dropdown-item {
  color: #665b5b;
}
.header-nav .navbar-nav .dropdown-item.active,
.header-nav .navbar-nav .dropdown-item:active {
  color: #665b5b;
}
.header-nav .navbar-nav .dropdown-item:hover,
.header-nav .navbar-nav .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background: none;
}
.header-nav .navbar-nav .nav-item {
  padding-left: 20px;
}
.header-nav .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  padding: 0px 10px;
  color: #fff;
}
.header-nav .navbar-nav .nav-item .nav-link:hover {
  background: white;
  color: rgba(16, 191, 112, 0.88869051);
  border-radius: 20px;
}
@media (max-width: 1200px) {
  .border-item {
    border: none!important;
  }
}
