.stragic-partner{
  padding:50px 0;
  background: linear-gradient(90deg, rgba(6,190,182,1) 0%, rgba(16,191,112,0.8886905103838411) 70%);
  &__btn{
    padding: 5px 35px !important;
    background-color: rgba(255,146,10,1)!important;
    &:hover{
        opacity: 0.7;
    }
  }
}
