.payment-feature{
   
    .full-height-items{
        height:100%;
    }
   
    &__title{
        text-align: center;
        margin:30px 0;
    }
  .payment-feature__items{
        width: 100%;
        border:1px solid gray;
        padding:30px;
        .img{
            margin-right:30px;
        }
     
    }

}

@media( min-width : 768px){

  .payment-feature__items{
    align-items: center;
  }
}
@media( max-width : 768px){
   .full-height-items > div{
       margin:0 15px 10px;

   }

}