.sign-in{
    width: 500px;
    margin:0 auto;
    padding: 50px;
    &__title{
        margin-bottom: 50px;
    }
    &__btn{
        margin-top:30px;
        margin-bottom:10px;
    }
    p{
        margin-bottom: 0px
    }
}