.trust-by {
  padding-top: 60px;
}
.trust-by div.container {
  margin-top: 100px;
}
.trust-by h2 {
  margin: 0 0 20px 0;
}
.trust-by__title {
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .primary-logo .col-4 {
    margin-bottom: 20px;
  }
  .trust-by {
    padding-top: 30px;
  }
  .trust-by div.container {
    margin-top: 50px;
  }
  .trust-by__title {
    margin-bottom: 50px;
  }
}
